@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@300;400;500&display=swap');
:root{
  --main-color: #0f2f7a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4{
  font-family: 'Bungee', cursive;
  font-weight: normal;
  color: var(--main-color);
}
h2{
  font-size: 30px;
}
button{
  cursor: pointer;
}
.container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}
header{
  background-color: var(--main-color);
  padding: 20px 30px;
  font-family: 'Bungee', cursive;
}
header h1{
  color: white;
}
header ul li{
  display: inline;
  margin-left: 12px;
}
header ul a{
  color: rgb(217, 217, 217);
  font-size: 20px;
  transition: color 1s;
}
header ul a:hover{
  color: aquamarine;
}
section{
  margin-top: 30px;
}
#about .container{
  align-items: start;
} 
#about .container > img{
  width: 50%;
}
#about h2{
  margin-bottom: 10px;
}
#about p{
  margin-bottom: 10px;
}
#contact .container{
  display: block;
}
#contact .container h2, #contact .container h3{
  margin-bottom: 15px;
}
.brand-list img{
  height: 25px;
  margin-right: 20px;
}
.brand-list li{
  display: inline-flex;
}
.contact-methods{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact-methods form{
  display: flex;
  flex-direction: column;
}
.contact-methods form input,.contact-methods form textarea{
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
.contact-methods form input:focus,.contact-methods form textarea:focus{
  box-shadow: 0 0 0 2px var(--main-color);
  border-color: white;
}
.contact-methods textarea{
  resize: none;
}
.contact-methods button{
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
.contact-methods button:hover{
  background-color: #214290;
}
.social-links img{
  height: 30px;
}
.social-links li{
  display: inline;
  margin-right: 10px;
}
.contact-methods address{
  font-style: normal;
}
footer{
  background-color: var(--main-color);
  padding: 20px;
  margin-top: 30px;
}
footer .container{
  display: block;
}
footer p{
  color: white;
}