@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
:root{
  --main-color: #0f2f7a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,address{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4{
  font-family: 'Bungee', cursive;
  color: var(--main-color);
}
h2{
  font-size: 30px;
}
.container{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header{
  background-color: var(--main-color);
  padding: 20px 30px;
  font-family: 'Bungee', cursive;
}
header h1{
  color: white;
}
header ul li{
  display: inline;
  margin-left: 12px;
}
header ul a{
  color: white;
  font-size: 20px;
  transition: color 1s;
}
header ul a:hover{
  color: aquamarine;
}
section{
  margin-top: 20px;
}
section#about .container{
  align-items: start;
} 
section#about .container > img{
  width: 50%;
}
section#about .container > div{
  margin-left: 20px;
}
section#about h2{
  margin-bottom: 10px;
}
section#about p{
  margin-bottom: 10px;
}
section#about ul img{
  height: 25px;
  margin-right: 20px;
}
section#about ul li{
  display: inline-flex;
}
section#contact .container{
  flex-direction: column;
  align-items: start;
}
section#contact .container h2, h3{
  margin-bottom: 15px;
}
section#contact .contact-methods{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section#contact form{
  display: flex;
  flex-direction: column;
}
section#contact form input,textarea{
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
section#contact form textarea{
  resize: none;
}
section#contact form button{
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
section#contact ul li{
  display: inline;
  margin-right: 10px;
}
section#contact ul img{
  height: 30px;
}
section#contact address{
  font-style: normal;
}
footer{
  background-color: var(--main-color);
  padding: 20px;
  margin-top: 20px;
}
footer p{
  color: white;
}